__pycache__/
venv/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
build/
cares_reinforcement_learning.egg-info/
dist/
.idea/
.DS_Store
rl_logs/
.vscode/


# ignore these whole directories (their contents)
scripts/replays/
scripts/results/

# ignore everything inside players/
scripts/players/*

# but do not ignore the players directory itself nor rename.py
!scripts/players/
!scripts/players/rename.py